@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.app-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.qr-image{
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.input-label{
  display: block;
  margin: 8px;
  color: #302e2e;
  font-size: 18px;
  font-weight: 500;
}
input[type="text"]{
  padding: 12px;
  margin-bottom: 18px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
}

button{
  padding: 12px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button::selection{
  user-select: none;
}
.generate-btn{
  background-color: #3498db;
}
.generate-btn:disabled{
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.generate-btn:hover{
  background-color: #2980b9;
}
.download-btn{
  background-color: #27ae60;
  margin-left: 10px;
}
.download-btn:hover{
  background-color: #219a52;
}
.app-container h1{
  font-weight: 600;
  font-size: 25px;
  border-bottom: 1px solid #f1efef;
  padding: 10px 0px;
  margin-bottom: 1.5%;
}
.clear-btn{
  background-color: orangered;
  margin-left: 10px;
}
.clear-btn:hover{
  background-color: #CC3700;
}